.dashboardpage{
  display:flex;
  height:100vh;
  width:auto;
  flex-direction: column;
}

.topbuttonbox{
  display: flex;
  height:40vh;
  width:100vh;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.letterbox{
  display:flex;
  height:30vh;
  flex-direction:column;
  margin-left:auto;
  margin-right:auto;
  gap:20px;
}

.button{
  background-color: #C5FAA8;
  color: darkgreen;
}

.event{
  display:flex;
  background-color:#C5FAA8;
  height:10vh;
  width:100vh;
  flex-direction: row;
}