.dashboardpage{
  display:flex;
  height:100vh;
  width:auto;
  flex-direction: column;
}

.topbuttonbox{
  display: flex;
  height:40vh;
  width:100vh;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.button{
  background-color: #C5FAA8;
  color: darkgreen;
}