.editformpage{
  width: auto;
  height: 100vh;
}

.editinputbox{
  display: flex;
  flex-direction: column;
  gap:20px;
  margin:20px;
}

.editbutton{
  background-color: #C5FAA8;
  color: #02542D;
  height: 5vh;
  width: 20vh;
}

.edittextbox{
  width: 30vh;
  height: 5vh;
}