.mloginbackground{
  display:flex;
  height: 100vh;
  flex-direction: column;
  margin: 40px;
  justify-content: center;
}

.mloginbutton{
  background-color: #C5FAA8;
  color: #02542D;
  height: 5vh;
  width: 20vh;
  align-self: flex-start;
  margin-top:20px;
}

.mloginsection{
  display:flex;
  height: 100vh;
  flex-direction: column;
  gap:15px;
}

.mlogintextbox{
  height: 5vh;
  width: 40vh;
  border-color: black;
}