.signupbackground{
  display:flex;
  height: 100vh;
  flex-direction: column;
  margin: 40px;
}

.button{
  background-color: #C5FAA8;
  color: #02542D;
  height: 5vh;
  width: 20vh;
  align-self: flex-start;
  margin: 20px;
}

.title{
  margin:20px;
}

.question{
  height: 3vh;
  width: 20vh;
  margin:20px;
  border-color: black;
}