.upeventspage{
  display:flex;
  height:100vh;
  width:auto;
  flex-direction: column;
  gap: 40px;
}

.upeventstopbox{
  display: flex;
  height:30vh;
  width:100vh;
  gap:100px;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


.upbutton{
  background-color: #C5FAA8;
  color: darkgreen;
  height: 5vh;
  width: 20vh;
  margin-top: 20px;
}

.upevent{
  display: flex;
  background-color: #C5FAA8;
  color:darkgreen;
  height: 10vh;
  width: 100vh;
  justify-content: center;
  margin-top:60px;
}
